<div class="container-fluid">
  <div class="jumbotron text-center">
    <h2>Questions</h2>
    <p>
      Total number of Graveyards:
      <span
        ><b>{{ totalGraveYards }}</b></span
      >
    </p>
    <p>
      Total number of graves in Buschhoven: <span><b>There is no such graveyard</b></span>
    </p>
    <p>
      Which information/properties can be attached to a grave plot:
      <span
        ><b
          >In Geo Json any property can be attached to a feature object. These are the properties attached right now:
          "verstorbene" "friedhof" "geometrieId" "grabZusatz" "grabnummer" "grabRotation" "grabFontSize" "grabId"
          "originalId" "grabstelle" "grabstelleRotation" "grabstelleFontSize" "grabstelleRuhefristende" "grabstelleId"
          "grabname" "zustand" "grabstatus" "grabart" "anonym" "reservierungsstatus" "grabartKategorie"
          "nutzungsfristende" "ruhefristende" "hatAufgabe"
        </b></span
      >
    </p>
    <p>
      Which graveyard has the most unassigned grave plots:
      <span><b>Weststrasse 1794</b></span>
    </p>
  </div>
</div>
